
<!DOCTYPE html>
<html lang="es">
	<head>
		
		<title>Proyecto </title>
		<link type="text/css" rel="stylesheet" href="/static/stylos.css"/>
		
	</head>
	<body >
		
	<header>
			<div id="header"><br/>
				<marquee><i><h1>Bienvenidos a TriviaOnline</h1></i></marquee>
				<center><nav>
					<menu ><b><a href=""target="_self">JUEGO</b></menu>
					<menu ><b><a  href="/blog/registro/">REGISTRO</b></menu>
					<menu ><b><a href="/blog/login/">LOGIN</a></b></menu>
					<menu ><b><a  href="/blog/">BLOG</a></b></menu>
					{% endif %}
					{% if not user.is_anonymous %}
					<menu ><b><a href="/blog/logout/">{{user}} LOGOUT</a></b></menu>
					{% endif %}
				</nav></center>
			</div>
		</header>  
	{% block title %}
       
    {% endblock %}
</head>
<body>

    
    {%block container%}

    {%endblock %}
</body>
</html>
